:root {
    --back-color: #F7EFE5;
    --button-color: #C3ACD0;
    --button-outline: #7743DB;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--back-color);
    font-family: 'Crimson Text', serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border: 2px solid black; */
}

button {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--button-color);
    border: 3px solid var(--button-outline);
    outline: 3px solid var(--button-outline);
    outline-offset: -3px;
    cursor: pointer;
}

button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

a {
    background-color: var(--button-color);
    color: black;
    text-decoration: none;
}
  
.high_score {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.timer {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    padding: 20px;
    /* border: 2px solid black; */
}

.quiz_container {
    /* border: 2px solid black; */
    height: 75vh;
    display: flex;
    justify-content: center;
}

.title {
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 70%;
    padding: 20px;
    font-size: 32px;
    /* border: 2px solid black; */
}


.instructions {
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 60%;
    padding: 20px;
    font-size: 24px;
    /* border: 2px solid black; */
}

.start-quiz {
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

/*THIS IS FOR THE TWO OTHER SECTIONS THAT ARE CURRENTLY HIDDEN FROM VIEW*/
.quiz_question {
    display: none;
}

.questionArray {
    border: 2px solid blue;
    padding: 20px;
    width: 600px;
}

.prompt {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    font-size: 32px;
}

.optionsList {
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.optionItem {
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.game_over {
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    font-size: 42px;
    border: 2px solid black;
}

.score {
    display: inline;
    border: 2px solid black;
    margin: 30px 0 30px 0;
    padding: 20px;
    font-size: 32px;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    font-size: 26px;
    margin: 30px 0 30px 20px;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    font-size: 26px;
    margin: 0 20px 0 20px;
    background-color: var(--button-color);
    border: 2px solid var(--button-outline);
}

input::placeholder {
    color: black;
    font-size: 20px;
    text-align: center;
}

.submit {
    font-size: 20px;
}

/* .final_score {
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 60%;
    padding: 20px;
    font-size: 24px;
} */

.hide_middle {
    display: none;
}

.hide_end {
    display: none;
}

.endSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}